
{% extends "./base.html" %}
{% load item_extras %}
{% load static %}
{% block content %}
<div class="container">


<div class="jumbotron" style="width:30rem;">
  <h1 class="display-4">{% replace_underbar item.title.title %}</h1>
  <p class="lead">This is a simple hero unit ...</p>
  <hr class="my-4">
  <p>It uses utility classes for ...</p>
  <a class="btn btn-primary btn-lg" href="{{ item.title.url }}" role="button">Watch Episode!</a>
</div>


    <div class="container">

  <section>
          {% if user.is_authenticated %}
        {% if bookmarked == True %}
          <p>
      <button type="button" class="btn btn-default hogeo disable" data-toggle="popover" data-content="お気に入りリストに追加しました"  data-placement="top" id="boke"
      action="{% url 'app:ajax_post_add' %}" method="submit">
        <span class="glyphicon glyphicon-heart text-danger" aria-hidden="true"></span>お気に入りに追加済みです
      </button>
    </p>
        {% else %}
          <p>
      <button type="button" class="btn btn-default hogeo" data-toggle="popover" data-content="お気に入りリストに追加しました"  data-placement="top" id="boke"
      action="{% url 'app:ajax_post_add' %}" method="submit">
        <span class="glyphicon glyphicon-heart text-danger" aria-hidden="true"></span>お気に入りに追加
      </button>
    </p>
    <p>クリックするとポップアップが表示され、ポップアップ内に追加されたメッセージが表示され、3秒後にポップアップが消え、ボタンがクリック出来なくなります。</p>
    {% endif %}
      {% else %}
      <a>ユーザー登録</a>

      {% endif %}




  </section>




<button id="buta">ボタン</button>

</div>

    <p>

  <a href="#" data-toggle="popover" id="myPopover" data-content="ココにポップオーバーが表示">ポップオーバーの実例</a>
</p>
  <div>
    <p>ポップオーバーを手動で制御するには、以下のボタンを押す。</p>
    <input type="button" class="btn btn-primary show-popover" value="表示">
    <input type="button" class="btn btn-warning hide-popover" value="隠す">
    <input type="button" class="btn btn-success toggle-popover" value="切替">
    <input type="button" class="btn btn-danger dispose-popover" value="破棄">
  </div>



    {% include './ajax_bookmark.html' %}
  <!--<script src="{% static 'app/js/check_book.js' %}"></script>-->
</div>
{% endblock %}