{% extends "./base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<header class="sticky-top" id="sticky">
    				<form id="filter" method="get">
					<div class="modal-body">
						{{filter.form|crispy}}
					</div>
				</form>
    <!--<form action="" method="POST">-->
        <!--{{ formset.management_form }}-->
        <!--{% for form in formset %}-->
            <!--{{ form }}<br>-->
        <!--{% endfor %}-->
        <!--{% csrf_token %}-->
        <!--<button type="submit">検索</button>-->
    <!--</form>-->
</header>
<div class="container" id="hogehoge">
    <hr>

    {% if get_flag == True %}
    {% if profile_list == False%}
    <a>no result</a>
    {% endif %}
    {% for item in item_list %}

<span style="text-align:center; font-weight:bold">
{{item.speaker}}
</span>
<div class="inline-block_test">{{ item.script |truncatewords:15}}</div>
        <a href="{% url 'detail' item.pk %}"> show detail </a>

        <hr>

    {% endfor %}
    {% endif %}
</div>
{% endblock %}