
{% extends "./base.html" %}
{% load item_extras %}
{% load static %}
{% load render_table from django_tables2 %}
{% block content %}

<a>{{user.username}}</a>



{% for script in scripts %}
<a>---------</a>
{{script.title_is}}
{{script.speaker}}
{% endfor %}


{% if is_empty == False %}

{% render_table table %}
{% else %}
<a href="{% url 'app:home'%}">お気に入りのセリフを登録しよう！</a>
{% endif %}

<!--<a href="../detail/1/">詳細<a>-->



    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">確認</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>削除してよろしいですか？</p>
          </div>
          <div class="modal-footer">
            <form name="action" method="POST"><button type="submit" name="b_name" class="btn btn-primary" value="" id="del_url">OK</button>
            {% csrf_token %}
            </form>
            <form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </form>
          </div>
        </div>
      </div>
    </div>



<a class="fugafuga">aaaaaaaaaaaaaa</a>






{% endblock %}